@import url("https://fonts.googleapis.com/css2?family=Ropa+Sans&display=swap");

* {
    box-sizing: border-box;
}

body {
    font-family: "Ropa Sans", sans-serif;
    color: #555;
    margin: 0;
    padding: 0;
    transition: 0.5s;
}

.container {
    width: 1200px;
    max-width: 100%;
    margin: 0 auto;
    padding: 0 15px;
}

header {
    box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.25);
}

header .container {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

header h1 {
    color: #777;
    display: inline-block;
    font-size: 40px;
}

header h2 {
    color: #aaa;
    display: inline-block;
    font-size: 16px;
    font-weight: 300;
}

header h2.menu {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 32px;
    color: #aaa;
}

header div.dark-toggle {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
}

/* Section banner */

section.banner {
    margin: 50px 0;
}

section.banner img.slider {
    width: 100%;
}

section.banner .carousel {
    position: relative;
}

section.banner .carousel .controls {
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;

    display: flex;
    justify-content: space-between;
    align-items: center;   
}

section.banner .carousel .controls .left {
    background-color: rgba(141, 141, 141, 0.62);
    margin-left: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
}

section.banner .carousel .controls .right {
    background-color: rgba(141, 141, 141, 0.62);
    margin-right: 20px;
    width: 60px;
    height: 60px;
    border-radius: 50%;
    border: none;
}

section.banner .carousel .controls .left:hover , 
section.banner .carousel .controls .right:hover {
    opacity: 0.7;
    cursor: pointer;
}

/* section destaques */

section.destaques .container {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 50px;
}

section.destaques article {
    background-color: #EEEEEE;
    width: 450px;
    /* usa margin no elemento filho ou gap no elemento pai */
    /* margin: 30px; */
    border: solid 1px #EEE;
}


section.destaques article .thumb {
    width: 100%;
    height: 250px;
    /* background-image: url('../img/project-1.png'); */
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

section.destaques article .info,
section.destaques article .info2 {
    padding: 25px;
}

section.destaques article .info .tag,
section.destaques article .info2 .tag {
    background-color: #555;

    color: #fff;
    font-size: 27px;
    padding: 5px 15px;
    border-radius: 30px;
}

section.destaques article .info .tag.tag-new,
section.destaques article .info2 .tag.tag-new {
    background-color: #51D275;
}

section.destaques article .info2 .tag.tag-sale {
    background-color: #DC9730;
}

section.destaques article .info .details,
section.destaques article .info2 .details  {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

section.destaques article .info .details .price,
section.destaques article .info2 .details .price {
    margin: 0;
    font-size: 40px;
}

/* Your style */
section.styles {
    margin: 80px 0;
}

section.styles h2 {
    text-align: center;
    font-size: 35px;
    color: #888888;
    font-weight: 300;
}

section.styles article {
    text-align: center;
    padding: 70px 30px;
    margin: 20px auto;

    background-color: #777;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

    position: relative;
}

section.styles article h3 {
    background: rgba(196, 196, 196, 0.5);
    width: 100%;
    height: 100%;
    margin: 0;
    color: #fff;
    font-size: 35px;
    font-weight: 300;
    text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.25);
    letter-spacing: 1px;

    position: absolute;
    top: 0;
    left: 0;

    display: flex;
    align-items: center;
    justify-content: center;
}

section.ctc {
    margin-top: -20px;
}

section form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

section form input {
    text-align: center;
    width: 250px;
    height: 20px;
    margin: 10px;
    border-radius: 5px;
    border: solid 0.5px rgba(196, 196, 196, 0.5);
    border: solid 1px #EEE;
}

section.ctc h2 {
    text-align: center;
    font-size: 35px;
}

section form textarea {
    height: 100px;
    width: 250px;
    border-radius: 5px;
    border: solid 0.5px rgba(196, 196, 196, 0.5);
    resize: none;
    border: solid 1px #EEE;
}

section.ctc button {
    color: #fff;
    font-size: 27px;
    padding: 5px 15px;
    border-radius: 30px;
    background-color: #dc9730;    
    margin: 20px;
    border: none;
}

footer {
    background-color: #333333;
    color: #fff;
    padding: 80px 0;
    border-top: solid 0.5px #fff;;
}

footer .container {
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
    flex-wrap: wrap;
}

footer .mapa iframe {
    width: 600px;
    max-width: 100%;
    height: 300px;
    border: none;
    /* borda arredondada */
    border-radius: 30px;
}

footer .info a {
    color: #fff;
    text-decoration: none;
}

footer .info h4,
footer .info p {
    font-size: 20px;
    font-weight: 300;
}

footer .redes-sociais img {
    width: 30px;
    margin: 5px;
}

/* Dark Theme */

.dark-mode,
.dark-mode h1,
.dark-mode header h2,
.dark-mode section .container h2,
.dark-mode section.destaques article ,
.dark-mode section form input,
.dark-mode section form textarea
 {
    background-color: #333;
    color: white;
    transition: 0.5s;
}
